{% load static %}

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <title>
    {% block title %}
    Base
    {% endblock title %}  
    </title>
    

   <link rel="stylesheet" href="{% static  'styles/design.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<!--<script src="{% static 'javascriptsfile/js.js' %}"> </script>
-->
<script src="https://use.fontawesome.com/29c758e36b.js" crossorigin="anonymouse"></script>


<body>

    {% block profile %}{% endblock profile %}
    <!-- for authenticating and swapping user pprocedures -->
    {% if request.user.is_authenticated %}
    
    {% block userwithauth %}
    
    {% endblock %}

    {% else %}
    {% block ordinary %}
    
    {% endblock ordinary %}


    {% endif %}

    <!--the process ends here proceeed to the screen to see wonders-->

    {% block haeders %}

    {% endblock %}


{% block explainaitaion %}{% endblock explainaitaion %}



{% block signin %}{% endblock signin %}

{% block footer %}
{% if request.user.is_authenticated %} <div class="fest">
    <h2> Edutechies &#169; 2021 &#8594; 2022</h2>

    <h4>Few Navigations</h4>
    <a href="#">Home</a>
    <a href="{% url 'standing' %}">Standing</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'profile' request.user.username %}">Profile</a>
    <a href ="{% url 'generate'%}"  onclick="alert('please update your profile pic for better card')">Generate id card</a>
    <a href ="">Download time-table</a>
    
    <h2 style="height:50px;">@Edutechies &#169; 2022 <a href="">{% if request.user.is_anonymouse %}Hire Us{% endif %}</a></h2>
</div>

{% else %}
<div class="fest">
        <h2> Edutechies &#169; 2021 &#8594; 2022</h2>
    
        <h4>Few Navigations</h4>
        <a href="#">contact</a>
        <a href="#">About</a>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
      

        <h2 style="height:50px;">@Edutechies &#169; 2022 <a href="">{% if request.user.is_anonymouse %}Hire Us{% endif %}</a></h2>
    </div>
    {% endif %}



   
</body>
{% endblock footer %}