{% extends 'base.html' %}
{% block title %}
login
{% endblock title %} 
{% load crispy_forms_filters %}



{% block extracss %}

{% endblock extracss %}

{% block signin %}


<div class="form-wrap">

                <form method ="POST" class="main-form">
                <marquee> advise to load this site only on desktop('build for desktop only!') please kindly note "your username is converted to lower case </marquee>
                    {% csrf_token %}
                    <h1>Login</h1>
                   
            {{form|crispy}}
            <p>
            {% if messages %}

            {% for message in messages %}
            <li style="color:yellow" {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}

            {% endif %}
            </p>
            <button style="
            margin-bottom:50px;
            " type="submit">Login</button>

                <p>Don't have account <a href="{% url 'signup' %}" onclick="alert("registration ended in 5hrs ")">here</a></p>
                </form>

</div>



{% endblock signin %}

{% block footer %}

{% endblock footer %}

