
body{
    background-color: rgba(0, 0, 0, 0);
}
/* for general atrribute */
a{
    color: rgba(7, 7, 46, 0.671);
    padding: 4px;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
}
a:hover{
    color: #333;
    padding: 4px;

}
a:active{
    color: blue;
    padding: 4px;
}

.Navigations{
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.704);
    width: 90%;
    margin-top: 10px;
    border:2px solid rgba(232, 232, 232, 0.219) ;
    margin: auto;

    

}
.wrapper{
   float: right;
   color: rgba(5, 5, 70, 0.738);

}
.techies{
   background-color: rgba(241, 234, 234, 0.774); 
   text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size:medium;
    font-weight: normal;
    border-radius: 6px;
    width: max-content;
    padding: 10px;
    margin-top: 20px;

    

}

.Navigations ul,li{
    list-style: none;
    padding: 10px;
    height: auto;
    display: inline;
}
.Navigations a{
    text-decoration: none;
    display: inline
    
}

.tech{
    background-color: rgba(241, 234, 234, 0.774); 
    text-align: left;
     justify-content: left;
     align-items: left;
     margin: auto;
     font-size:medium;
     font-weight: normal;
     width: 60%;
     max-width: fit-content;
     padding: 10px;
     border-radius: 6px;
     margin-top: 20px;
}
.tech p{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    word-spacing: normal;
    
}
.best{
    background-color: rgba(241, 234, 234, 0.774); 
    text-align: left;
     justify-content: left;
     align-items: left;
     margin: auto;
     font-size:medium;
     font-weight: normal;
     width: 60%;

     padding: 10px;
     border-radius: 6px;
     margin-top: 20px; 
}
.best h5{
    align-items: center;
    text-align: center;
    justify-content:center;
    font-size: large;
    padding: 10px;
    text-transform: capitalize;
}
.best li{
    display: block;
    list-style:decimal;


}
.footer{
    background-color: rgba(61, 14, 14, 0.112);
    text-align: center;

}
.form-wrap{
width: 30%;
margin: auto;
background-color: rgba(7, 3, 3, 0.571);
border: 2px solid #fff;
border-radius: 10px;
margin-top: 100px;

}
.form-wrap h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin: unset;
    width:auto;
    margin-bottom: 15px;
}
.form-wrap label{
    text-align:left;
    margin: auto;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(232, 220, 220, 0.952);
    padding: 10px;
    margin-top: 10px;
}
.form-wrap p{
    color: yellow;
}
.form-wrap input{
    margin: 10px;
    padding: 6px;
    width: 90%;
    border: 2px solid rgba(159, 146, 146, 0.098) ;
    border-radius: 6px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}

.form-wrap button{
    width: 50%;
    background-color: darkblue;
    padding: 10px;
    margin: auto;
    color: #fff;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    margin:unset;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.form-wrap h5, h6{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #fff;
}
.editall{
    width: 60%;
    background-color: rgba(250, 249, 249, 0.745);
    border: 2px solid #fff;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.editall h1, h2, h3, h4, h5,h6{
    color: rgba(36, 34, 34, 0.803);
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.editall p{
    width: 50%;
    text-align: left;
    color: rgba(255, 0, 0, 0.314);
    margin: auto;
    padding: 10px;
}
.editall ul {
    margin: auto;
    padding: 10px;
    text-align: justify;

}
.editall input{
    padding: 6px;
    margin: 10px;
    margin-left: 10px;
    width: 30%;
    text-align: center;
    border-radius: 6px;
    border: 1px groove #fff;

}
.editall button{
    padding: 10px;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background-color: darkblue;
    color:#fff;
    border-radius: 6px;
    margin: 40px;
}